//=======================================================================
// Vars for headings, p etc...

$weight-regular: normal ;
$weight-bold: bold ;
$logotype: 24px;
$article-header: 16px;
$article-body: 13px;
$article-info:10px;
$color-white: #ffffff;
$color-blueblack: #1E2D37;
$article-overlay: rgb(0,0,0, 0.7); 
$font-lora: 'Lora', serif;
$font-oxygen: 'Oxygen', sans-serif;

//=======================================================================
// CSS properties for the Grid container, grid item and single Item
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;

    .grid-item{
        text-align: center;
        padding:20px 0px; 
        position: relative;
    }

    .article1{
        background-color: $color-blueblack;
        color: $color-white;
        min-height: 550px;
        min-width: 650px;
        grid-column: 1 / span 2;
        grid-row: 1 / span 4;
        
    }
    .article2{
        background-color: $color-blueblack;
        color: $color-white;
        min-height: 300px;
        min-width:400px;
        grid-column: 3;
        grid-row: 1 / span 2;
    }
    .article3{
        background-color: $color-blueblack;
        color: $color-white;
        min-height:140px;
        min-width:180px;
        grid-column:3;
        grid-row: 3;
    }
    .article4{
        background-color: $color-blueblack;
        color: $color-white;
        min-height:140px;
        min-width:180px;
        grid-column:3;
        grid-row: 4;
    }
}

//======================================================================
//CSS class & properties for the content container
#content-container{
    max-width: 1064px;
    margin-left: auto;
    margin-right: auto;
}

//======================================================================
//CSS class & properties for text inside the article to handle positioning
.textInArticle{
    position: absolute;
    bottom: 30px;
    left: 30px;    

}
